# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environments
venv/
env/
__env__/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# Environment-specific files
.env
.env.*

# Compiled Python files
*.pyc
*.pyo

# macOS
.DS_Store

# Windows
Thumbs.db
